[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask_sqlalchemy = "*"
requests = "*"
pyproj = "*"
pymysql = "*"
python-dotenv = "*"   # .env 로드용
pandas = "*"
apscheduler = "*"

[requires]
python_version = "3.11"

[dev-packages]
